# === Framework ===
fastapi==0.111.0

# === Serveur ===
uvicorn==0.29.0
ngrok==1.4.0

# === Configuration & environnement ===
python-dotenv==1.0.0
pydantic==2.3.0 

# === Requêtes HTTP ===
httpx==1.2.4

# === Logging ===
loguru==0.7.2

# === Tests ===
pytest==8.4.2